# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# data
data/raw/

# Generated outputs
figures/
results/

# Environment
.venv/
.env

# IDEs
.vscode/
.idea/

# Solved exercises
#*solutions.ipynb