# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Large downloaded datasets
data/raw/

# Generated outputs
figures/
results/

# Environment
.venv/
.env

# IDEs
.vscode/
.idea/